xterm*faceName: Liberation Mono:size=11:antialias=true
xterm*font: 7x13
xterm*VT100.Translations: #override Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n Ctrl Shift <Key>C: copy-selection(CLIPBOARD)



! {{{ londontube Colors
!! special
! *.foreground:   #d9d8d8
! *.background:   #231f20
! *.cursorColor:  #d9d8d8
!
!! black
! *.color0:       #231f20
! *.color8:       #737171
!
!! red
! *.color1:       #ee2e24
! *.color9:       #ee2e24
!
!! green
! *.color2:       #00853e
! *.color10:      #00853e
!
!! yellow
! *.color3:       #ffd204
! *.color11:      #ffd204
!
!! blue
! *.color4:       #009ddc
! *.color12:      #009ddc
!
!! magenta
! *.color5:       #d43395
! *.color13:      #d43395
!
!! cyan
! *.color6:       #858ace
! *.color14:      #858ace
!
!! white
! *.color7:       #d9d8d8
! *.color15:      #ffffff
! 
! }}}

! {{{ londontube light
! special
!*.foreground:   #5a5758
!*.background:   #ffffff
!*.cursorColor:  #5a5758
!
!! black
!*.color0:       #231f20
!*.color8:       #737171
!
!! red
!*.color1:       #ee2e24
!*.color9:       #ee2e24
!
!! green
!*.color2:       #00853e
!*.color10:      #00853e
!
!! yellow
!*.color3:       #ffd204
!*.color11:      #ffd204
!
!! blue
!*.color4:       #009ddc
!*.color12:      #009ddc
!
!! magenta
!*.color5:       #98005d
!*.color13:      #98005d
!
!! cyan
!*.color6:       #85cebc
!*.color14:      #85cebc
!
!! white
!*.color7:       #d9d8d8
!*.color15:      #ffffff

! }}} 


! ryuuko Colors {{{

! special
*.foreground:   #ffffff
*.background:   #292d30
*.cursorColor:  #f2f3f2

! black
*.color0:       #34393D
*.color8:       #75747a

! red
*.color1:       #BF687F
*.color9:       #BF687F

! green
*.color2:       #7DD551
*.color10:      #7DD551

! yellow
*.color3:       #e5b93f
*.color11:      #e5b93f

! blue
*.color4:       #8294b4
*.color12:      #8294b4

! magenta
*.color5:       #E68A8B
*.color13:      #E68A8B

! cyan
*.color6:       #95B9BF
*.color14:      #95B9BF

! white
*.color7:       #ffffff
*.color15:      #ffffff

!! }}}
